<section class="artist-info">
  <div class="artists" ng-model="details.artists">
    <a href="/details/{{details.prevItem}}">
      <button type="button" class="btn btn-default button-sm">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </button>
    </a>
    <a href="/details/{{details.nextItem}}">
      <button type="button" class="btn btn-default button-sm">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </button>
    </a>
    <h1 class="media-heading artist-name">
      {{details.artists[details.whichItem].name}}
    </h1>
    <div class="info">
      <h3 class="media-heading artist-school">
        {{details.artists[details.whichItem].reknown}}
      </h3>
      <img class="media-object pull-left"
        ng-src="{{details.artists[details.whichItem].picture}}" alt="Photo of
        {{details.artists[details.whichItem].name}}">
      <div class="media-body bio pull-left">{{details.artists[details.whichItem].bio}}
      </div>
    </div>
    <a class="nav-link" href="index.html">&laquo; Back to search</a>
</section>
