      <section class="artist-page">
        <div class="search">
          <h1>Artist Directory</h1>
          <label>Search: </label>
          <input ng-model="artist.query" placeholder="Search for artists"
            autofocus>
          <label class="form-group">By:
            <select ng-model="artist.artistOrder">
              <option value="name">Name</option>
              <option value="reknown">Reknown</option>
            </select>
          </label>
          <label class="form-group">
            <input ng-model="artist.direction" type="radio" name="direction"
              checked>Ascending
          </label>
          <label class="form-group">
            <input ng-model="artist.direction" type="radio" name="direction"
              value="reverse">Descending
          </label>
          <button ng-show="artist.filterArtists"
            ng-click="artist.changeFiltering(false)" class="btn btn-primary">
            Show All</button>
          <button ng-show="!artist.filterArtists"
            ng-click="artist.changeFiltering(true)" class="btn btn-primary">
            Hide All</button>
        </div>
        <ul class="media-list artist-list"
          ng-show="artist.query || !artist.filterArtists">
          <li ng-animate="'animate'" class="media artist" ng-repeat="item in
            artist.artists | filter:artist.query |
            orderBy:artist.artistOrder:direction">
            <a href="/details/{{artist.artists.indexOf(item)}}">
              <img class="media-object pull-left" ng-src="{{item.picture}}"
                alt="Photo of {{item.name}}">
              <div class="media-body pull-left">
                <h2 class="media-heading">{{item.name}}</h2>
                <h3 class="media-heading">{{item.reknown}}</h3>
              </div>
            </a>
          </li>
        </ul>
      </section>
